html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

body {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 1px gray solid;
}

.content {
    max-width: 640px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.headerDiv {
    text-align: center;
    padding: 1em;
}

.userPane {
    padding: 1em;
}

.userPane input {
    margin: 5px;
    width: 150px;
}

.userPane button {
    width: 70px;
}

.jobList {
    padding: 1em;
    border-top: 1px gray solid;
}

.jobAdder {
    padding: 1em;
    border-top: 1px gray solid;
    display: flex;
    flex-direction: column;
}

.jobAdder input {
    width: 100%;
}

.job {
    display: flex;
    width: 100%;
    border-top: 1px gray solid;
    padding: 0.3em;
    background: whitesmoke;
}

.job span {
    width: 33%;
}

.job button {
    width: 33%;
}


